<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		{% block header %}
			<link rel="stylesheet" type="text/css" href="./common/assets/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="./common/assets/css/bootstrap-icons.css">
			<link rel="stylesheet" type="text/css" href="./common/assets/js/jquery-ui-1.12.1/jquery-ui.min.css">

			<link rel="stylesheet" href="./common/assets/js/bootstrap-table/dist/bootstrap-table.min.css">
			<link rel="stylesheet" href="./common/assets/js/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.css">

			<link rel="stylesheet" type="text/css" href="assets/css/color_local.css">
			<link rel="stylesheet" type="text/css" href="./common/assets/css/style.css">
			<link rel="icon" type="image/png" href="assets/img/favicon.png"/>

		{% endblock %}
		<style>
			/* ============ desktop view ============ */
			@media all and(min-width: 992px) {
				.navbar .nav-item .dropdown-menu {
					display: none;
				}
				.navbar .nav-item:hover .nav-link {}
				.navbar .nav-item:hover .dropdown-menu {
					display: block;
				}
				.navbar .nav-item .dropdown-menu {
					margin-top: 0;
				}
			}
			/* ============ desktop view .end// ============ */
		</style>
	</head>

	<body>
		<!-- Navbar -->
		{% if want_menu == true %}
			<nav class="navbar navbar-expand-lg navbar-navbarcss sticky-top">
				<a class="navbar-brand" href="index.php">
					<img src="assets/img/logo.png" width="48" height="48" alt="logo">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="nav navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="index.php">
								<i class="bi bi-house"></i>
								Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href='basket.php'>
								<i class="bi bi-basket"></i>
								<span>Basket</span>
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href='about.php' id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="bi bi-info-square"></i>
								<span>About</span>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href='about.php?pid=1'>
									<span>Muriquis’ Vocal Communication</span>
								</a>
								<a class="dropdown-item" href='about.php?pid=2'>
									<span>Description of Data and Table</span>
								</a>
							</div>
						</li>

						{% if user_id != -1 %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span>Database Management</span>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href='manage_meta.php?table=record'>
										<span>Records</span>
									</a>
									<a class="dropdown-item" href='manage_meta.php?table=production'>
										<span>Productions</span>
									</a>
									<a class="dropdown-item" href='manage_meta.php?table=speaker'>
										<span>Speakers</span>
									</a>
									<a class="dropdown-item" href='remake_db.php'>
										<span>Recalculate database</span>
									</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href='edit_meta.php'>
									<i class="bi bi-pencil"></i>
									<span>Add element</span>
								</a>
							</li>
						</ul>
						<ul class="nav navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href='login.php?logout=1'>
									<i class="bi bi-box-arrow-in-left"></i>
									<span>Logout</span>
								</a>
							</li>
						</ul>
				{% else %}
					</ul>
					<ul class="nav navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href='login.php'>
								<i class="bi bi-box-arrow-in-right"></i>
								<span>Admin</span>
							</a>
						</li>
					</ul>
				{% endif %}

			</div>
		{% endif %}
</nav>
<!-- Content -->
<div class="container-fluid"> 
	{% block body %}
	
	{% endblock %}
</div>

<!-- Footer -->
{% include 'footer.twig' %}

<!-- Script -->
{% block javascript %}
	<script src="./common/assets/js/jquery-3.3.1.min.js"></script>
	<script src="./common/assets/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="./common/assets/js/jquery-validation-1.17.0/jquery.validate.min.js"></script>
	<script src="./common/assets/js/bootstrap.bundle.min.js"></script>
	<script src="./common/assets/js/bootstrap-table/dist/bootstrap-table.js"></script>
	<script src="./common/assets/js/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js"></script>

	<script>
		$(function () {
			$('#table').bootstrapTable();
			$('#table').bootstrapTable('resetView',{height: window.innerHeight*0.7});
		})

	    function playAudioDetailFormatter(index, row, $element){
		 console.log(index), console.log(row), console.log($element);
		 return   '<audio controls preload="none"><source src="./assets/files/'+row["filename"]+'" type="audio/wav"> Your browser does not support the audio element.</audio>';
		}

		function showAudioTag(e){
			$('#table').bootstrapTable('expandRow',e);
			$('#b_'+e+'_play').hide();
			$('#b_'+e+'_stop').show();
		}

		function hideAudioTag(e){
			$('#table').bootstrapTable('collapseRow',e);
			$('#b_'+e+'_play').show();
			$('#b_'+e+'_stop').hide();
		}
	
	</script>

{% endblock %}
	</body>
</html>
