<tr>
	<th>
		<div class="rTableCell">
			<span class="field_name">{{ data["field_name"]}}</span>
		</div>
	</th>
	<th>
		<div class="rTableCell">
			<span class="type">{{ data["type"]}}
			</span>
		</div>
	</th>
	<th>
		<div class="rTableCell">
			<span class="label">{{ data["label"]}}
			</span>
		</div>
	</th>
	<th>
		<div class="rTableCell">
			{% if data.active == 1 %}
				<span class="active"><img src="assets/img/active.png"/></span>
			{% else %}
				<span class="active"><img src="assets/img/inactive.png"/></span>
			{% endif %}
		</div>
	</th>
	<th>
		<div class="rTableCell">
			<a href="edit_meta.php?metaid={{ data[" id"] }}"><img src="assets/img/editer.png"/></a>
		</div>
	</th>

</tr>
