:root {
  --body-color: black; /* Couleur du texte */
  --body-background-color: white; /* Couleur de fond du site */
  
  --menu-text-color: white; /* Couleur des textes & liens des Footer/Navbar */
  --menu-text-color-hover: lightgray  ; /* Couleur au survol des textes & liens des Footer/Navbar */
  --menu-bg-color: #58781c; /* Couleur de fond de l'interface */

  --table-header-color: #ffffff; /* Couleur du texte du header du tableau */
  --table-header-background-color: #556B2F; /* Couleur de fond du header du tableau */
  
}
